body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bfdc87;
}

.calculator {
    text-align: center;
    background-color: #e7f1cf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    font-size: 1rem;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #a2c84a;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

p {
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: bold;
}
